<div class="container">
  <form
    class="form"
    [formGroup]="updatePasswordGroup"
    (submit)="updatePassword()"
  >
    <div class="form-wrap">
      <legend>Update Password</legend>
      <div
        class="formfeild-wrap"
      >
        <fieldset class="feildset">
          <label class="label">Password</label>
          <input
            formControlName="pass"
            class="input"
            [type]="show1 ? 'text' : 'password'"
            placeholder="Enter your password..."
          />
          <span
            *ngIf="updatePasswordGroup.value.pass"
            class="span"
            (click)="showPassword1()"
            ><mat-icon>{{
              show1 ? "visibility" : "visibility_off"
            }}</mat-icon></span
          >
        </fieldset>
      </div>
      <div
        class="formfeild-wrap"
      >
        <fieldset class="feildset">
          <label class="label">Confirm Password</label>
          <input
            formControlName="cpass"
            class="input"
            [type]="show2 ? 'text' : 'password'"
            placeholder="Enter your password..."
          />
          <span
            *ngIf="updatePasswordGroup.value.cpass"
            class="span"
            (click)="showPassword2()"
            ><mat-icon>{{
              show2 ? "visibility" : "visibility_off"
            }}</mat-icon></span
          >
        </fieldset>
      </div>
      <div class="btn-wrap">
        @if(loading$ | async) {
        <mat-spinner class="spinner" color="warn"></mat-spinner>
        } @else {
        <button [disabled]="!updatePasswordGroup.valid" class="btn submit-btn">
          Update
        </button>
        }
      </div>
      <div class="error-wrap" *ngIf="error$ | async">
        <p class="error-text">
          <mat-icon>cancel</mat-icon>{{ error$ | async }}
        </p>
      </div>
    </div>
  </form>
  <div class="redirect-wrap">
    <p class="redirect-text">
      New around here?
      <a class="redirect-link" routerLink="/register">create account</a>
    </p>
  </div>
</div>
