<header>
    <div class="container">
        <nav class="navbar" #navbar>
            <div class="first-wrap">
                <div class="logo">
                    <a id="link" class="link" routerLink="/Home" >Blogs</a>
                </div>
                <div class="search-wrap">
                    <input type="search" (input)="search(input.value)" id="search" class="search" placeholder="Search here..." #input>
                    <div class="search-result" [ngStyle]="{ height : (blogTitles$ | async)?.length != 0 ? (80 * ((blogTitles$ | async)?.length!)) + 'px' : '0px', display: (blogTitles$ | async)?.length != 0 ? 'block' : 'none', border: (blogTitles$ | async)?.length != 0 ? '1px solid rgba(0,0,0,0.3)' : 'none'}">
                        <ul class="title-list">
                            @for(blog of (blogTitles$ | async);track blog.title) {
                                <li class="titles" >
                                    <div class="title">
                                        <a class="link" routerLink="/{{blog.user}}/{{blog.id}}" (click)="hideSearches(input.value = '')" >{{blog.title}}</a>
                                    </div>
                                    <div class="posted-user">
                                        Posted by:- <span class="user">{{blog.user}}</span>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="second-wrap">
                @if(user$ | async) {
                    <div class="user-info-wrap" (click)="showOptions()">
                        <div class="user-name">
                            {{(user$ | async)?(user$ | async)?.displayName:'Guest'}}
                        </div>
                        <div class="user-icon">
                            @if((user$ | async)?.photoURL) {
                                <img class="avatar-image" [src]="(user$ | async)?.photoURL">
                            } @else {
                                <mat-icon>account_circle</mat-icon>
                            }
                        </div>
                    </div>
                    <div *ngIf="options" class="account-setting-wrap">
                        <div class="inner-setting" (click)="profile()" *ngIf="url != userName">
                            Profile <mat-icon>settings</mat-icon>
                        </div><hr class="hr" *ngIf="url != userName"> 
                        <div class="inner-setting" (click)="updateProfile()" *ngIf="url == userName">
                            Update Profile <mat-icon>settings</mat-icon>
                        </div><hr class="hr" *ngIf="url == userName"> 
                        <div class="inner-setting" (click)="logout()">
                            Logout <mat-icon>exit_to_app</mat-icon>
                        </div>
                    </div>
                } @else {
                    <div class="account-wrap">
                        <div class="login-wrap">
                            <a matRipple routerLink="/login" class="btn login-btn">
                                Login
                            </a>
                        </div>
                        <div class="register-wrap">
                            <a matRipple routerLink="/register" class="btn register-btn">
                                Create account
                            </a>
                        </div>
                    </div>
                }
            </div>
        </nav>
    </div>
</header>