<mat-card class="card" appearance="outlined">
  <mat-card-header>
    <div
      class="avatar"
      mat-card-avatar
      style="background-image: url({{post.image}})"
    ></div>
    <mat-card-title>
      @if (post.user === url ) {
        {{ post.user.at(0)?.toUpperCase() + post.user.slice(1) }}
      } @else {
        <a class="link" routerLink="/{{post.user}}">{{ post.user.at(0)?.toUpperCase() + post.user.slice(1) }}</a>
      }
    </mat-card-title>
    <mat-card-subtitle>
      {{ post.created | date }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="content">
    <div class="title-wrap">
      <a routerLink="/{{post.user}}/{{post.id}}" class="post-title">{{ post.title }}</a>
    </div>
    <div class="tag-wrap">
      @for (tag of post.tags; track tag) {
      <div class="tag" [ngClass]="tagClasses[tag]"><span>#</span>{{ tag }}</div>
      }
    </div>
  </mat-card-content>
  <mat-card-actions class="actions">
    <div class="reaction-wrap">
      <div class="like-wrap">
        <!-- {{post.reactions.likes}} -->
        <!-- {{ liked$ | async }}/ -->
        <!-- @if((userLiked$ | async) && (login$ | async)){<mat-icon fontIcon="thumb_up_outline"></mat-icon>} @else
        {<span class="material-symbols-outlined"> thumb_up </span>} -->
      </div>
      <!-- <div class="dislike-wrap">
        {{post.reactions.dislikes}}
        @if((disliked$ | async) && (login$ | async)){<mat-icon fontIcon="thumb_down_outline"
          >thumb_down</mat-icon
        >} @else {<span  class="material-symbols-outlined"> thumb_down </span>}
      </div> -->
    </div>
    <div class="view-wrap">
      <!-- {{post.views.length}} -->
      <!-- @if(viewed$ | async){
      <mat-icon>visibility</mat-icon>
      } @else {<span class="material-symbols-outlined"> visibility </span>} -->
    </div>
  </mat-card-actions>
</mat-card>
