<div class="user-content">
    <div class="blogs-wrap">
        <div class="title-wrap">
            @if (url ==userName) {
                Your blog's
            } @else {
                Blog's
            }
            <button *ngIf="url == userName" (click)="addBlogs()" class="btn add-blog"><mat-icon>add</mat-icon>Add Blog</button>
        </div>
        <div class="blogs-list-wrap">
            <ul class="blogs-list">
                @for (post of posts; track posts) {
                    <li class="blogs">
                        <app-card [post]="post" ></app-card>
                    </li>
                } @empty {
                    <div class="empty-wrap">
                        <p>No blogs at this moment!</p>
                    </div>
                }
            </ul>
        </div>
    </div>
</div>