<div class="user-content">
    <div class="blogs-wrap">
        <div class="title-wrap">
            @if (url == (userName | async)?.uniqueName) {
                Your blog's
                <button matRipple (click)="addBlogs()" class="btn add-blog"><mat-icon>add</mat-icon>Add Blog</button>
            } @else {
                Blog's
            }
        </div>
        <div class="blogs-list-wrap">
            <ul class="blogs-list">
                @if (loading$ | async) {
                    <div class="spinner-wrap">
                        <mat-spinner class="spinner"></mat-spinner>
                    </div>
                } @else {
                    @for (post of (posts | async); track post.id) {
                        <li class="blogs">
                            <app-card [post]="post" class="card" ></app-card>
                            <div *ngIf="url == (userName | async)?.uniqueName" class="btn-wrap">
                                <button matRipple class="btn remove-btn" (click)="removeBlog(post.id)" ><mat-icon>delete_outline</mat-icon></button>
                                <!-- <button matRipple class="btn edit-btn"><mat-icon>edit</mat-icon></button> -->
                            </div>
                        </li>
                    } @empty {
                        <div class="empty-wrap">
                            <p>No blogs at this moment!</p>
                        </div>
                    }
                }
            </ul>
        </div>
    </div>
</div>