.user-content {
  width: 100%;
  background-color: white;
  border-radius: 12px;
  box-shadow: 2px 5px 5px rgba(192, 192, 192, 0.247);
  padding: 15px;
  .blogs-wrap {
    border: 1px solid rgba(89, 89, 89, 0.411);
    border-radius: 5px;
    .title-wrap {
      padding: 12px;
      font-weight: 500;
      width: 100%;
      font-size: 18px;
      border-bottom: 1px solid rgba(89, 89, 89, 0.411);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .add-blog {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        background-color: rgba(0, 128, 0, 0.637);
        color: white;
        font-size: 16px;
        border: 1px solid white;
        &:hover {
          outline: 2px solid rgba(0, 128, 0, 0.637);
          outline-offset: 2px;
        }
      }
    }
    .blogs-list-wrap {
      .blogs-list {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 10px;
        gap: 10px;
        .empty-wrap {
          padding: 12px;
        }
      }
    }
  }
}
.spinner-wrap {
  display: grid;
  place-items: center;
  margin: 10px 0;
  .spinner {
    height: 50px !important;
    width: 50px !important;
    ::ng-deep circle {
      stroke: rgba(0, 128, 0, 0.637);
    }
  }
}
.blogs {
  position: relative;
  .card {
    ::ng-deep .title-wrap {
      font-size: 20px !important;
      line-height: 22px;
    }
    ::ng-deep mat-card-header {
      padding: 8px 8px 0 !important;
    }
    ::ng-deep mat-card-content {
      margin: 2px !important;
      padding: 0 62px !important;
      .tag {
        padding: 6px !important;
      }
    }
    ::ng-deep mat-card-actions {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
  .btn-wrap {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    flex-direction: row;
    gap: 12px;
    z-index: 4;
    .remove-btn {
      margin: 0;
      padding: 6px 20px;
      background-color: rgba(255, 39, 39, 0.801);
    }
    .edit-btn {
      margin: 0;
      padding: 6px 20px;
      background-color: cornflowerblue;
    }
    mat-icon {
      color: white;
    }
  }
  &:hover {
    .btn-wrap {
      display: flex;
    }
  }
}