.container {
    background-color: whitesmoke;
    max-width: 100%;
    .loading-wrap {
      position: absolute;
      top: 45%;
      left: 48%;
    }
}
.page-wrap {
    display: flex;
    flex-direction: row;
    margin: 0 -20px;
  }
  .second-wrap {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .more-user-blogs-wrap {
        display: flex;
        flex-direction: column;
        // box-shadow: 2px 5px 5px rgba(192, 192, 192, 0.247);
        .heading-title {
            border-radius: 12px;
            background-color: white;
            box-shadow: 2px 5px 5px rgba(192, 192, 192, 0.247);
            padding: 15px;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 9px;
            .user {
                color: rgb(60, 60, 240);
            }
        }
        .blogs-list {
            .blogs {
                .more-blog {
                    box-shadow: 2px 5px 5px rgba(192, 192, 192, 0.247);
                    background-color: white;
                    padding: 15px;
                    border-radius: 12px;
                }
            }
        }
    }
  }
  .first-wrap {
    width: 70%;
    padding: 20px
  }
  .blog-wrap {
    background-color: white;
    border-radius: 12px;
    padding: 20px 50px;
  }
  ::ng-deep .main {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  ::ng-deep h1 {
    display: block;
    font-size: 48px;
    line-height: 50px;
    font-weight: 700;
    padding: 10px 0;
  }
  ::ng-deep h2 {
    display: block;
    font-size: 26px;
    line-height: 26px;
    font-weight: 600;
    margin: 20px 0 5px;
  }
  ::ng-deep h3 {
    display: block;
    font-size: 25px;
    line-height: 27px;
    font-weight: 600;
    margin: 20px 0 5px;
  }
  ::ng-deep h4 {
    display: block;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    margin: 20px 0 5px;
  }
  ::ng-deep p {
    display: block;
    font-size: 23px;
    line-height: 30px;
    font-weight: 400;
    margin: 5px 0 10px;
  
    text-align: justify;
  }
  ::ng-deep ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
    list-style: none;
    margin: 0 -5px;
    font-size: 25px;
  }
  ::ng-deep ol {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 0 -5px;
    font-size: 25px;
  }
  ::ng-deep li {
    padding: 5px;
    font-size: 23px;
    line-height: 30px;
    font-weight: 400;
  }
  ::ng-deep img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
  }
  .blog-content-wrap {
    margin-top: 35px;
  }
  ::ng-deep figure {
    display: flex;
    margin: 0 auto;
    width: 100% !important;
    height: auto;
  }
  ::ng-deep code {
    font-size: 15px;
  }
  .tag-wrap {
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-size: 18px;
    .tag {
      font-size: 23px;
      padding: 6px;
      border-radius: 8px;
      border: 1px solid transparent;
      &.red {
        &:hover {
          background-color: rgba(255, 0, 0, 0.1);
          border-color: rgba(255, 0, 0, 0.3);
        }
        span {
          color: rgba(255, 0, 0, 0.481);
        }
      }
      &.blue {
        &:hover {
          background-color: rgba(0, 0, 255, 0.1);
          border-color: rgba(0, 0, 255, 0.3);
        }
        span {
          color: rgba(0, 0, 255, 0.423);
        }
      }
      &.yellow {
        &:hover {
          background-color: rgba(255, 255, 0, 0.1);
          border-color: rgba(255, 255, 0, 0.3);
        }
        span {
          color: rgba(255, 255, 0, 0.472);
        }
      }
      &.green {
        &:hover {
          background-color: rgba(0, 128, 0, 0.1);
          border-color: rgba(0, 128, 0, 0.3);
        }
        span {
          color: rgba(0, 128, 0, 0.481);
        }
      }
      &.purple {
        &:hover {
          background-color: rgba(128, 0, 128, 0.1);
          border-color: rgba(128, 0, 128, 0.3);
        }
        span {
          color: rgba(128, 0, 128, 0.481);
        }
      }
    }
  }
  .posted-user-wrap {
    display: flex;
    flex-direction: row;
    gap: 8px;
    .image-wrap {
      height: 40px;
      width: 40px;
      img {
        margin: 0 auto !important;
      }
    }
    .user-extra-wrap {
      display: flex;
      flex-direction: column;
      gap: 2px;
      .link {
        text-decoration: none;
        color: black;
      }
    }
  }
  .second-wrap {
    .user-wrap {
      ::ng-deep .info-wrap {
        flex-direction: column !important;
        align-items: start !important;
      }
    }
    ::ng-deep .card-header {
        gap: 18px !important;
    }
    ::ng-deep .card-skills,::ng-deep .card-bio, ::ng-deep .card-work {
      justify-content: left !important;
      .skills, .bio {
        font-weight: 400 !important;
      }
      .user-bio, .user-skills {
        text-align: left !important;
        max-width: 100% !important;
      }
    }
  }
  .main-wrap {
    width: 1680px;
    margin: 0 auto;
  }
  ::ng-deep .user-avatar {
    margin-top: -24% !important;
  }