<div class="container">
  <form [formGroup]="registerForm" class="form" (ngSubmit)="registerUser()">
    <div class="error-wrap" *ngIf="error$ | async">
      <p class="error-text"><mat-icon>cancel</mat-icon>{{ error$ | async }}</p>
    </div>
    <div class="form-wrap">
      <legend>Register</legend>
      <div class="formfeilds-wrap">
        <fieldset class="feildset">
            <label>UniqueName</label>
          <input
            formControlName="uniqueName"
            class="input"
            type="text"
            placeholder="Enter your unique name..."
          />
        </fieldset>
        <div *ngIf="registerForm.get('uniqueName')!.invalid && (registerForm.get('uniqueName')!.touched  && registerForm.get('uniqueName')!.dirty)">
          <div *ngIf="registerForm.get('uniqueName')!.hasError('forbiddenName')" class="error">Name must not include ' - '</div>
          <div *ngIf="registerForm.get('uniqueName')!.hasError('required')" class="error">This field is required</div>
          </div>
        </div>
      <div class="formfeilds-wrap">
        <fieldset class="feildset">
            <label>Email</label>
          <input
            formControlName="email"
            class="input"
            type="email"
            placeholder="Enter your email..."
          />
        </fieldset>
        <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.touched && registerForm.get('email')!.dirty)">
          <div *ngIf="registerForm.get('email')!.hasError('email')" class="error">Enter correct email formate</div>
          <div *ngIf="registerForm.get('email')!.hasError('required')" class="error">This field is required</div>
        </div>
      </div>
      <div class="formfeilds-wrap">
        <fieldset class="feildset">
            <label>Password</label>
          <input
            formControlName="password"
            class="input"
            [type]="show ? 'text' : 'password'"
            placeholder="Enter your password..."
          />
          <span *ngIf="registerForm.value.password" class="span" (click)="showPassword()"
            ><mat-icon>{{
              show ? "visibility" : "visibility_off"
            }}</mat-icon></span
          >
        </fieldset>
        <div *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty && registerForm.get('password')!.dirty)">
          <div *ngIf="registerForm.get('password')!.hasError('minlength')" class="error">Password must be minimum of 8 length`</div>
          <div *ngIf="registerForm.get('password')!.hasError('required')" class="error">This field is required</div>
        </div>
      </div>
      <div class="btn-wrap">
        @if(loading$ | async) {
        <mat-spinner class="spinner" color="warn"></mat-spinner>
        } @else {
        <button matRipple [disabled]="!registerForm.valid" class="btn submit-btn">
          Register
        </button>
        }
      </div>
    </div>
  </form>
  <div class="redirect-wrap">
    <p class="redirect-text" >Already Signed-up? <a class="redirect-link" routerLink="/login">Login</a></p>
  </div>
</div>
