.container {
  background-color: whitesmoke;
  max-width: 100%;
  .loading-wrap {
    position: absolute;
    top: 45%;
    left: 48%;
  }
  .card {
    display: block;
    margin: 3% auto;
    max-width: 1200px;
    padding: 20px;
    .card-content-wrap {
      display: flex;
      flex-direction: row;
      margin: 0 -12px;
      @media(max-width: 991px) {
        flex-direction: column;
      }
      .extra-wrap {
        width: 25%;
        padding: 12px;
        @media(max-width: 991px) {
          width: 100%;
        }
      }
      .content-wrap {
        width: 75%;
        padding: 12px;
        @media(max-width: 991px) {
          width: 100%;
        }
      }
    }
    @media(max-width: 767px) {
      padding: 35px 0 0 0;
    }
  }
}