.form-wrap {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-top: 2%;
  .form {
    .form-inner-wrap {
      display: flex;
      flex-direction: row;
      gap: 15px;
      @media(max-width: 767px) {
        flex-direction: column-reverse;
      }
      .first-wrap,
      .second-wrap,
      .third-wrap,
      .fourth-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        @media(max-width: 767px) {
          display: block;
        }
        .half-feild {
          width: 100%;
          margin: 15px 0;
          .feildset {
            border: none;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 3px;
            .label {
              font-size: 20px;
            }
            .input {
              border: 1px solid #000;
              font-size: 16px;
              line-height: 16px;
              outline: none;
              padding: 8px;
              border-radius: 4px;
              &:disabled {
                opacity: 0.6;
              }
              &:focus {
                outline: 2px solid rgba(0, 128, 0, 0.637);
                outline-offset: 2px;
              }
            }
          }
        }
      }
      .fifth-wrap,
      .sixth-wrap,
      .seventh-wrap,
      .eight-wrap {
        .full-feild {
          width: 100%;
          margin: 15px 0;
          .feildset {
            border: none;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 3px;
            padding: 0 24px;
            @media(max-width: 767px) {
              padding: 0;
            }
            .label {
              font-size: 20px;
            }
            .textarea {
              border: 1px solid #000;
              font-size: 16px;
              line-height: 16px;
              outline: none;
              padding: 8px;
              border-radius: 4px;
              &:focus {
                outline: 2px solid rgba(0, 128, 0, 0.637);
                outline-offset: 2px;
              }
            }
          }
        }
      }
      .ninth-wrap {
        .btn-wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          margin-top: 15px;
          .update-btn {
            font-size: 16px;
            transition: all 0.3s linear;
            &:disabled {
              opacity: 0.6;
            }
            &:hover:not(:disabled) {
              background-color: rgba(0, 128, 0, 0.637);
            }
          }
          .spinner {
            scale: 0.3;
            position: absolute;
            top: -42px;
            ::ng-deep circle {
              stroke: rgba(0, 128, 0, 0.637);
            }
          }
        }
      }
    }
  }
}
.social-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .link-wrap {
    .feildset {
      border: none;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 3px;
      .label {
        font-size: 14px;
      }
      .input {
        border: 1px solid #000;
        font-size: 16px;
        line-height: 16px;
        outline: none;
        padding: 8px;
        border-radius: 4px;
        &:focus {
          outline: 2px solid rgba(0, 128, 0, 0.637);
          outline-offset: 2px;
        }
      }
    }
  }
}
.tenth-wrap {
  .image-wrap {
    .img {
      width: 150px;
      height: 150px;
    }
}
.icon-wrap {
    position: relative;
    width: 100%;
    bottom: 2px;
    display: grid;
    place-items: center;
    background-color: white;
    border-radius: 100%;
    padding: 5px;
    top: -32px;
    @media(max-width: 767px) {
      width: 35%;
    }
    &:hover {
        mat-icon {
            cursor: pointer;
            border-radius: 50%;
            transform: rotate(90deg);
            transition: all 0.3s linear;
        }
    }
}
}
.images-wrap {
    position: absolute;
    top: 33%;
    right: 21%;
    .images-list {
        width: 270px;
        background-color: #282828;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
        .images {
            list-style: none;
            .image {
                height: 50px;
                width: 50px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
.mainSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, - 50%);
  ::ng-deep circle {
    stroke: rgba(0, 128, 0, 0.637);
  }
}
